In [16]:
import pandas as pd
pd.read_csv("https://raw.githubusercontent.com/pranjal3163/datascience/master/csv_example.csv")

             algorithm      learning                          type
0    Linear Regression    Supervised                    Regression
1  Logistic Regression    Supervised                Classification
2         RandomForest    Supervised  Regression or Classification
3              k-means  Unsupervised                    Clustering

In [17]:
pd.read_excel("https://github.com/pranjal3163/datascience/blob/master/excel_example.xlsx?raw=true")

             algorithm      learning                          type
0    Linear Regression    Supervised                    Regression
1  Logistic Regression    Supervised                Classification
2         RandomForest    Supervised  Regression or Classification
3              k-means  Unsupervised                    Clustering

In [18]:
pd.read_json("https://raw.githubusercontent.com/pranjal3163/datascience/master/json_example.json")

             algorithm      learning                          type
0    Linear Regression    Supervised                    Regression
1  Logistic Regression    Supervised                Classification
2         RandomForest    Supervised  Regression or Classification
3              k-means  Unsupervised                    Clustering

In [19]:
csv_url = "https://raw.githubusercontent.com/pranjal3163/datascience/master/overall_topten_2012-2013.csv"
au_top_ten_csv = pd.read_csv(csv_url,skiprows = 1)
au_top_ten_csv

   Number  ...  Number of Applications
0       1  ...                    1069
1       2  ...                    1037
2       3  ...                     821
3       4  ...                     816
4       5  ...                     530
5       6  ...                     479
6       7  ...                     383
7       8  ...                     351
8       9  ...                     344
9      10  ...                     335

[10 rows x 4 columns]

In [20]:
tsv_url = "https://raw.githubusercontent.com/pranjal3163/datascience/master/overall_topten_2012-2013.tsv"
au_top_ten_tsv = pd.read_csv(tsv_url,skiprows = 1, sep = "\t")
au_top_ten_tsv

   Number  ...  Number of Applications
0       1  ...                    1069
1       2  ...                    1037
2       3  ...                     821
3       4  ...                     816
4       5  ...                     530
5       6  ...                     479
6       7  ...                     383
7       8  ...                     351
8       9  ...                     344
9      10  ...                     335

[10 rows x 4 columns]

In [21]:
excel_url = 'https://github.com/pranjal3163/datascience/blob/master/overall_topten_2012-2013.xlsx?raw=true'
au_top_ten_excel = pd.read_excel(excel_url,sheet_name = 1,skiprows = 1)
au_top_ten_excel

   Number  ...  Number of Applications
0       1  ...                    1069
1       2  ...                    1037
2       3  ...                     821
3       4  ...                     816
4       5  ...                     530
5       6  ...                     479
6       7  ...                     383
7       8  ...                     351
8       9  ...                     344
9      10  ...                     335

[10 rows x 4 columns]